  {% extends "base.html" %}
{% load static %}
{% block title %}Aggregate Tweets{% endblock title %}

{% block content %}

       <p style="height: 80px">&nbsp;</p>




        <div class="text-input row">
            <div class="col-md-offset-3 col-sm-offset-2 col-md-6 col-sm-8">
                <h1 class="text-center">CodeNext</h1>
                <h3 class="text-center">Twitter-user Text Analysis</h3>
                <p class="text-center">解析したいユーザーのIDを入力してください</p>

                <form method="post" action="{% url 'base:tweeter_user_text_analysis_display' %}" class="contact-us pattern-bg">
                    {% csrf_token %}
                    <hr>
                    <div class="col-sm-12">
                        <div class="textarea-message form-group twitter-user-upload">
                            <textarea name="message" id="message" required  class="textarea-message form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="text-center">
                         <button type="submit" class="btn btn-ipt-execute"><strong>Execute</strong></button>
                    </div> <br>

                </form>
            </div>
        </div><br>




{% endblock %}