{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:" en-us" }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Text Analysis{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>

{#    <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet" type="text/css"/>#}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <link rel="icon favicon" href="{% static 'image/dds.png' %}">
    <meta name="keywords" content="HTML5 Template"/>
    <meta name="description" content="Responsive HTML5 Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Libs CSS -->

    <link href="{% static 'css/animate.css' %}" rel="stylesheet"/>
    <link href="{% static 'js/graph/dds.css' %}" rel="stylesheet"/>

    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.graphup.pack2.js' %}"></script>
    <script src="{% static 'js/plugins/d3.min.js' %}"></script>
    <script src="{% static 'js/plugins/d3.layout.cloud.min.js' %}"></script>

    <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/jquery.graphup.pack2.js' %}"></script>
    <script src="{% static 'js/theme-plugins.js' %}"></script>
    {% block extrahead %}
    {% endblock %}

</head>
<body>


{% block header %}
    {% include 'base/header.html' %}
{% endblock %}
<div class="wrapper">
    <div class="row-offcanvas row-offcanvas-left">

        <div class="full">
            {% block content %}

            {% endblock %}


            <!-- -------------------------footer---------------------- -->


            <hr>
            <div style="padding: 10px 0px">

                <div class="footer">
                    <p class="text-center">{{ _("Copyright 2017, Dream Door Soft Ltd. ") }}</p>
                </div>


            </div>

        </div>


        <!--</div>-->
    </div>
</div>

</body>
</html>

