 {% extends "base.html" %}
{% load static %}
{% block title %}Aggregate Tweets{% endblock title %}

{% block content %}

        <div class="container">
            <div class="page-title row">
                <div class="form-inline">
                    <h1>Aggregate Tweet Related Word</h1>
                    <span class="head-btn">
                        <span><b>Number of tweet</b></span>
                        <input id="downloadNumber"  type="number" name=""min="0"max="500">&nbsp;
                        <a type="button" class="btn btn-download" onclick="return DownloadCsvFile({{results}});"><b>Download as csv</b></a> &nbsp;
                    </span>
                </div>

            </div>
            <div class="input-execute row">
                <div class="form-inline">
                    <form method="post" action="{% url 'base:aggregate_related_tweets' %}">
                        {% csrf_token %}
                        <input type="input"placeholder="Search here" name="search_word"id="search_word"required>
                        <span class="head-btn">
                        <button type="submit" class="btn btn-ipt-execute"><b>Execute</b></button>
                    </span>
                    </form>
                </div>
                <p>&nbsp;</p>

            </div>
            <div class="text-input"><hr></div>
            <div class="aggregate-content">
{#   {% for tweet in tweets %}#}
{#                <p class="tweettext">{{ tweet.status }}</p>#}
{#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: blueviolet">Created @{{ tweet.tweet_date }}</span>#}
{#                {% endfor %}#}
        {% for result in results %}
          <p class="tweettext">{{ result.status }}</p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: blueviolet">Created @{{ result.tweet_date }}</span>
                {% endfor %}


            </div>
        </div> <br>




    <script type="text/javascript">
function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
               var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
             }
          }
      }
 return cookieValue;
}
var csrftoken = getCookie('csrftoken');
    function DownloadCsvFile(results)
    {
        var numberOfFiles=document.getElementById("downloadNumber").value;

        if (numberOfFiles>500)
        {
            alert("You can download maximum 500 tweets at a time.");
        }else if (numberOfFiles==0)
        {
            alert("Please Input Number of Tweets.");
        } else
        {

            $.ajax({
                url: "/base/download_tweets/",
                type: "POST",
                data:
                        {
                            numberOfFiles:numberOfFiles,
                            results: JSON.stringify(results),
                            csrfmiddlewaretoken: csrftoken
                        },
                beforeSend: function (xhr, settings) {

                },
                error: function (xhr, errmsg, err) {

                },
                success: function (data) {
                    //alert(data);
                    if (data != 0)
                    {
                        alert("Successfully downloaded")
                        window.location.href = "/media/" + data

                    }
                    else
                    {
                        alert("Bad Request.Try Again with right formate of data.")

                    }
                }

            });
        }

    }

</script>
{% endblock %}