 {% extends "base.html" %}
{% load static %}
{% block title %}Aggregate User's Tweets{% endblock title %}

{% block content %}

        <div class="container">
            <div class="page-title row">
                <div class="form-inline">
                    <h1>Aggregate User's Tweets</h1>
                    <span class="head-btn">
                        <span><b>Number of tweet</b></span>
                        <input id="downloadNumber" type="number" name=""min="0"max="1000">&nbsp;
                        <a type="button" class="btn btn-download" onclick="return DownloadUserCsvFile( );"><b>Download as csv</b></a> &nbsp;
                    </span><input type="hidden"value="{{ search_word|safe }}"id="hiddenUser">
                </div>

            </div>
            <div class="input-execute row">
                <div class="form-inline">
                    <form method="get" action="{% url 'base:aggregate_user_tweets' %}">

                        <input type="input"pattern="^@[A-Za-z0-9_]{1,15}$"   placeholder="@Sample User Name" name="search_word"id="search_word"required>
                        <span class="head-btn">
                        <button type="submit" class="btn btn-ipt-execute"><b>Execute</b></button>
                    </span>
                    </form>
                </div>
                <p>&nbsp;</p>

            </div>
            <div class="text-input"><hr></div>
            <div class="aggregate-content">

        {% for result in results %}
          <p class="tweettext">{{ result.status }}</p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: blueviolet">Created @{{ result.tweet_date }}</span>
                {% endfor %}

            </div>
              {% if results.has_other_pages %}
    <ul class="pagination">
        {% if results.has_previous %}
        <li><a href="?search_word={{ search_word }}&page={{ results.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in results.paginator.page_range %}
        {% if results.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href="?search_word={{ search_word }}&page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if results.has_next %}
        <li><a href="?search_word={{ search_word }}&page={{ results.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}

        </div> <br>




    <script type="text/javascript">
function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
               var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
             }
          }
      }
 return cookieValue;
}
var csrftoken = getCookie('csrftoken');
    function DownloadUserCsvFile()
    {
        var search_word=document.getElementById("hiddenUser").value;

        var numberOfFiles=document.getElementById("downloadNumber").value;

        if (numberOfFiles>1000)
        {
            alert("You can download maximum 1000 tweets at a time.");
        }else if (numberOfFiles==0)
        {
            alert("Please Input Number of Tweets.");
        }
        else
        {
            $.ajax({
                url: "/base/download_User_tweets/",
                type: "POST",
                data:
                        {
                            search_word:search_word,
                            numberOfFiles:numberOfFiles,
                            csrfmiddlewaretoken: csrftoken
                        },
                beforeSend: function (xhr, settings) {

                },
                error: function (xhr, errmsg, err) {

                },
                success: function (data) {
                    //alert(data);
                    if (data != 0)
                    {
                        alert("Successfully downloaded")
                        window.location.href = "/media/" + data

                    }
                    else
                    {
                        alert("Bad Request.Try Again with right formate of data.");

                    }
                }

            });
        }

    }

</script>
{% endblock %}