.navbar-default{
  background: #0051CC;
  color: #fff;  
}
.dropdown i{
  color: #fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #0051CC;
}
.dropdown-nav{
  margin-top: 10px;
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
    color: #0051CC;
    text-decoration: none;
    background-color: #fff;
}

/*@media only screen and (max-width: 768px){
.dropdown{
  padding-left: 25px;
}
}*/

.text-input hr {
    background-color: #404040;
    color: #404040;
    height: 2px;
}
.text-input {
  margin-left: 0px;
  margin-right: 0px;
}
.text-input hr{
  color: #000;
}
.text-upload textarea{
  height: 200px;
  background: #f0f0f0;
}
.twitter-user-upload textarea{
  height: 100px;
  background: #f0f0f0;
}
.twitter-word-upload textarea{
  height: 100px;
  background: #f0f0f0;
}
.btn-execute{
  background: #0051CC;
  color: #fff;
  padding: 10px 40px;
}
.btn-upload{
  background: #f0f0f0;
  color: #5E5E6E;
  padding: 10px 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
}




/*Page 1 CSS*/

.custom-navbar{

}
.custom-navbar-left {
  float: left;
  margin: 15px;
}
.custom-navbar-left a{
  color: #fff;
}
.custom-navbar-right{
  float: right;
  margin-top: 7px;
  margin-right: 15px;
}
.custom-navbar-right h4{
  font-size: 25px;
}

.top-content p{
  padding: 20px;
  background: #f0f0f0;
  border-radius: 10px;
  height: 150px;
  overflow-y: scroll;
}
.top-content hr{
  background-color: #404040;
  color: #404040;
  height: 2px;
}
.graph-output{
  padding: 15px;
  -webkit-box-shadow: 0px 3px 5px 1px rgba(151,153,153,1);
-moz-box-shadow: 0px 3px 5px 1px rgba(151,153,153,1);
box-shadow: 0px 3px 5px 1px rgba(151,153,153,1);
}

/*.left-table tr{
  border: 1px solid #f0f0f0;
}*/
.left-table{
  margin-bottom: 20px;
}
.left-table td{
  border: 1px solid #f0f0f0;
  padding: 10px;
}
.left-table th{
  border: 1px solid #f0f0f0;
  padding: 5px;
  text-align: center;
}
.row-head{
  background: #f0f0f0;
  padding: 5px;
  border-bottom: 2px solid #ccc;
}
.odd-row{
  background: #f0f0f0;
  cursor: pointer;
}
.even-row{
  cursor: pointer;
}
.modal-body h4{
  padding-left: 15px;
}

/* Page Aggregate Word*/
.page-title h1{
    display: inline-block;
    margin-bottom: 0px;
}
.head-btn{
  float: right;
  margin-top: 20px;
}
.btn-download{
  background: #D5D5D5;
  color: #615E5E;
  margin-left: 10px;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(151,153,153,0.8);
-moz-box-shadow: 0px 5px 7px 0px rgba(151,153,153,0.8);
box-shadow: 0px 5px 7px 0px rgba(151,153,153,0.8);
}
.page-title input{
  background: #f0f0f0;
  font-size: 25px;
  border: none;
  width: 100px;
  padding: 10px;
  margin-bottom: 10px;
}
.execute-input input{
  width: 100%;

}
.btn-ipt-execute{
  background: #0051CC;
  color: #fff;
  padding: 15px 40px;
}
.input-execute input{
  background: #f0f0f0;
  font-size: 25px;
  border: none;
  width: 80%;
  padding: 10px;
  margin-top: 20px;
}
.aggregate-content hr{
  height: 2px;
}
.aggregate-content p{
  font-size: 20px;
}
.aggregate-content a{
  text-decoration: none;
}
.modal-dialog {
    width: 1155px;
}
.user-comments-top span{
    font-size: 11px;
}
.user-comments-top {
    padding-left: 0px;
}
.user-comments-top i{
    color: #1b9eee;
}
.user-comments-top span:nth-child(1){
    font-weight: 700;
    color: 000 !important;
}
.user-comments-top span:nth-child(2){
    color: #949596;
}
.user-comments-top span:nth-child(3){
    color: #949596;
}
.user-comments-top span:nth-child(5){
    color: #F84356;
}
.user-comments-bottom a{
    color: #F84356;
    font-size: 11px;
}
.user-comments-bottom span{
    font-size: 11px;
}
.comment-box {
    padding: 10px;
    margin: 10px 5px;
    border-bottom: 2px solid #f0f0f0;
    /*-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);*/
}
@media screen and (max-device-width: 500px){
    .comment-box{
        padding: 0px;
    }
}
.comment-panel {
   height:500px;
   overflow:auto;
   scrollbar-face-color: #000000;
    scrollbar-highlight-color: #000000;
    scrollbar-3dlight-color: #000000;
    scrollbar-darkshadow-color: #000000;
    scrollbar-shadow-color: #000000;
    scrollbar-arrow-color: #FF99FF;
    scrollbar-track-color: #FFCCFF;
}