{% extends "base.html" %}
{% load static %}
{% block title %}Aggregate Tweets{% endblock title %}

{% block content %}

    <section class="page-location">
        <div class="container">
            <h3>Target Word: <strong>{{ searchWord }} </strong>&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter"
                                                                                    aria-hidden="true"></i></h3>
        </div>
    </section>

    <section id="output">
        <div class="container">
            <div class="top-content">

                <hr>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <h2>@hanako_yamada’s interest</h2>
                <div class="graph-output">
                    <div id="wordNetwork">

                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
            <h2>&nbsp;</h2>
                <div class="graph-output">
                    <h4><strong> ワードクラウド</strong></h4>
                    <hr>
                    <div class="comment-panel">
                        {% for result in results %}                            &nbsp;&nbsp;&nbsp;&nbsp;


                            <div class="comment-box">
                                <div class="user-comments-top row">
                                <span><a href="" data-toggle="modal"
                                         data-target="#user-info-modal"> {{ result.user_name }}</a> <i
                                        class="fa fa-check-circle"
                                        aria-hidden="true"></i> </span><span>@{{ result.user_screen_name }}</span>
                                    &nbsp;.&nbsp;<span>{{ result.time_zone }}</span>&nbsp;
                                    {#                                <span class="pull-right t-media">&nbsp;<a href=""><i class="fa fa-play-circle-o"#}
                                    {#                                                                                     aria-hidden="true"></i></a></span>#}
                                    <span class="pull-right t-media"><a href="{{ result.profile_image_url_https }}"><i
                                            class="fa fa-file-image-o"
                                            aria-hidden="true"></i>Image</a></span>
                                </div>
                                <div class="comment">
                                    <p>
                                        {{ result.status }}
                                    </p>
                                </div>
                                <div class="user-comments-bottom row">
                                    <span style="color: blueviolet"> Created @{{ result.tweet_date }} &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</span><br>
                                    <span>&nbsp;</span>
                                    <span class="pull-right tweet"><a href="https://twitter.com/?lang=en"><i
                                            class="fa fa-twitter"
                                            aria-hidden="true"></i> twitter</a></span>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>


            </div>
        </div>
    </section>
    <br>
    <section id="table_content">
        <div class="container ">




        </div>


    </section>









{% endblock %}