{% extends "base.html" %}

{% block title %}Confirm Email{% endblock title %}

{% block header %}
{% include 'base/header.html' %}
{% endblock %}


{% block content %}

<header>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 panel-login">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Confirmation</h3>
            </div>
            <div class="panel-body">
              <p style="color:green;text-align: center;">
                  {{ success_message }}
              </p>
              <p style="color:red;text-align: center;">
                  {{ error_message }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</header>


{% endblock content %}
