{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block header %}
{% include 'base/header.html' %}
{% endblock %}


{% block content %}

<header>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 panel-login">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Please sign in</h3>
            </div>
            <div class="panel-body">
              <p style="color:red;text-align: center;">
                  {{ message }}
              </p>
              <form accept-charset="UTF-8" role="form" method="POST" action="{% url 'base:login_view' %}">
                {% csrf_token %}
                <fieldset>
                  <div class="form-group">
                    <input type="email" class="form-control input-lg" placeholder="Email address" id="email" name="email" required="" />
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control input-lg" placeholder="password" id="pass" name="password" required="" />
                  </div>
                  <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                </fieldset>
              </form>
              <p>Don't have account? <a href="{% url 'base:registration_view' %}">Register here</a>.</p>
{#              <p><a href="{% url 'base:forgot_password' %}" class="text-warning">Forgot password</a></p>#}
            </div>
          </div>
        </div>
      </div>
    </div>
</header>


{% endblock content %}
