{% extends "base.html" %}

{% block title %}Registration{% endblock title %}
{% block content %}

<header>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 panel-registration">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Please register</h3>
        </div>
        <div class="panel-body">
          <p style="color:green;text-align: center;">
            {{ success_message }}
          </p>
          <p style="color:red;text-align: center;">
              {{ error_message }}
          </p>

          <form accept-charset="UTF-8" role="form" method="POST" action="{% url 'base:registration_view' %}">
            {% csrf_token %}
            <fieldset>
              <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="username" id="username" name="username" required="" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="name" id="name" name="name" required="" />
              </div>

              <div class="form-group">
                <input type="email" class="form-control input-lg" placeholder="email" id="email" name="email" required="" />
              </div>
              <div class="form-group">
                <input type="password" class="form-control input-lg" placeholder="password" id="pass" name="password" required="" />
              </div>
              <input class="btn btn-lg btn-default btn-block" type="submit" value="Register">
            </fieldset>
          </form>
          <p>Already have an account? <a href="{% url 'base:login_view' %}">Login here</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</header>



{% endblock content %}
