


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <ul class="dropdown-nav ">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><i class="fa fa-2x fa-bars" aria-hidden="true"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'base:sentence_text_analysis' %}">Sentence Text Analysis</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'base:tweeter_user_text_analysis' %}">twitter-user Text Analysis</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'base:tweeter_word_text_analysis' %}">twitter-word Text Analysis</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'base:aggregate_user_tweets' %}">Aggregate user’s tweet</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'base:aggregate_related_tweets' %}">Aggregate tweet related word</a></li>
                    </ul>
                </li>
            </ul>
    </div>




      <ul class="nav navbar-nav navbar-right">

{# {% if user.is_authenticated %}#}
{#        <li><a href="{% url 'base:logout_view' %}">Logout</a></li>#}
{#        <li><small>Signed in as {{ user.first_name }}</small></li>#}
{#{% else %}#}
{#<li><a href="{% url 'base:home' %}">Home</a> </li>#}
{#<li ><a href="{% url 'base:login_view' %}">login</a> </li>#}
{#<li><a href="{% url 'base:registration_view' %}">Registration</a></li>#}
{#{% endif %}#}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

