{% extends "base.html" %}

{% load static %}

{% block title %}SNS Text Analysis{% endblock title %}

{% block content %}    

    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="" alt="">
                    <div class="intro-text">
                        <h1 class="name">Text Analysis</h1>
                        <hr class="star-light">
                        <span class="skills">Workplace for Text Analysis.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>




    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

{% endblock content %}
