{% extends "base.html" %}
{% load static %}
{% block title %}Sentence Text Analysis{% endblock title %}

{% block content %}

    <section id="output">
        <div class="container">
            <div class="top-content">
                <p>
                    {{ text_message }}

                </p>
                <hr>
            </div>

            <div class="col-md-6 network1">
                <h2>共起?ットワーク</h2>
                <div class="graph-output">
                    <div id="wordNetwork">

                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <h2>ワードクラウド</h2>
                <div class="graph-output">
                    <div id="wordCloud" class="wordCloud"></div>
                </div>
            </div>


        </div>
    </section>
<p style="height: 50px">&nbsp;</p>
    <section id="table_content">
        <div class="container" onclick="CreateTableFromJSON()" id="showData">
            <div class="col-md-4 col-sm-4 left-table">
                <table id="table-1" class='table table-bordered table-condensed table-striped table-hover single'>
                </table>
            </div>
            <div class="col-md-4 col-sm-4 middle-table">
                <table id="table-2" class='single table table-bordered table-condensed table-striped table-hover'>
                </table>
            </div>
            <div class="col-md-4 col-sm-4 right-table">
                <table id="table-3" class='single table table-bordered table-condensed table-striped table-hover'>
                </table>
            </div>

        </div>

        <!--dynamic Modal -->

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body" style="height: 450px; overflow-y: auto;">
                        <div class="row">
                            <h4>related word</h4>
                            <div class="col-md-6">

                                <div class="left-table" id="modelTableDiv">

                                </div>
                            </div>
                            <div class="col-md-6 network2">
                                <div class="graph-output">
                                    <div id="wordNetwork2">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                </div>
            </div>
            <p>&nbsp;</p>
        </div>


    </section>
















































    <script type="text/javascript">

        jQuery(function () {
            CreateTableFromJSON();


        });
        {#network graph start here#}

        function DDSNetwork() {
            var _this = this;

            this.w = $(window).width();
            this.h = $(window).height();

            this.color = ['#1e90ff', '#f08080', '#00ff7f'];

            this.render_network = function (nodes, links) {
                var size = {"width": 574, "height": 400};

                var force = d3.layout.force()
                    .charge(-180)
                    .linkDistance(200)
                    .nodes(nodes)
                    .links(links)
                    .size([size['width'], size['height']])
                    .start();

                var svg = d3.select('#wordNetwork').append("svg")
                    .attr("width", size['width'])
                    .attr("height", size['height']);

                var link = svg.selectAll(".link")
                    .data(links)
                    .enter().append("line")
                    .attr("class", "link")
                    .style("stroke-width", function (d) {
                        if (Math.sqrt(d.weight) < 8) {
                            return Math.sqrt(d.weight);
                        } else {
                            return 8;
                        }
                    })
                    .style("stroke", "#696969")
                    .style("stroke-opacity", .2);

                var node = svg.selectAll(".node")
                    .data(nodes)
                    .enter().append("circle")
                    .attr("class", "node")
                    .attr("r", function (d) {
                        return 5 + parseFloat(d.value);
                    })
                    .style("fill", function (d) {
                        return _this.color[d.group - 1];
                    })
                    .style("stroke", "#fff")
                    .style("stroke-width", 1.5)
                    .on("mouseover", function (d) {
                        link.style("stroke-opacity", function (o) {
                            return o.source === d || o.target === d ? 1 : .2;
                        });
                    })
                    .call(force.drag);

                var txt = svg.selectAll(".txt")
                    .data(nodes)
                    .enter().append("text")
                    .attr("class", "txt")
                    .attr("text-anchor", "middle")
                    .style("font-size", "11pt")
                    .text(function (d) {
                        return d.name;
                    })
                    .call(force.drag);

                force.on('tick', function () {
                    link.attr("x1", function (d) {
                        return d.source.x;
                    })
                        .attr("y1", function (d) {
                            return d.source.y;
                        })
                        .attr("x2", function (d) {
                            return d.target.x;
                        })
                        .attr("y2", function (d) {
                            return d.target.y;
                        });

                    node.attr("cx", function (d) {
                        return d.x;
                    })
                        .attr("cy", function (d) {
                            return d.y;
                        });
                    txt.attr("x", function (d) {
                        return d.x;
                    })
                        .attr("y", function (d) {
                            return d.y;
                        });
                });
            }

        }

        {#network graph end here#}


        {#network Cloud start here#}

        function DDSCloud() {
            var _this = this;

            this.w = $(window).width();
            this.h = $(window).height();

            this.color = ['#1e90ff', '#f08080', '#00ff7f'];
            this.color_sp = ['#00ccff', '#99ff00', '#ffff66'];


            this.render_cloud = function (nodes, tag_id) {
                var max_size = d3.max(nodes, function (n) {
                    return n.size
                });
                var sizeScale = d3.scale.linear().domain([0, max_size]).range([15, 90]);

                var words = nodes.map(function (n) {
                    return {
                        name: n.name,
                        text: n.name,
                        size: sizeScale(n.size),
                        group: n.group
                    }
                });

                d3.layout.cloud().size([574, 400])
                    .words(words)
                    .padding(5)
                    .rotate(function () {
                        return 0;
                    })
                    .font('Impact')
                    .fontSize(function (d) {
                        return d.size;
                    })
                    .on("end", function (nodes) {
                        d3.select(tag_id).append("svg")
                            .attr("width", 574)
                            .attr("height", 400)
                            .append("g")
                            .attr("transform", "translate(287, 200)")
                            .selectAll("text")
                            .data(nodes)
                            .enter().append("text")
                            .style("font-size", function (d) {
                                return d.size + "px";
                            })
                            .attr("text-anchor", "middle")
                            .style("font-family", "Impact")
                            .style("fill", function (d, i) {
                                return _this.color[d.group - 1];
                            })
                            .attr("transform", function (d) {
                                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                            })
                            .text(function (d) {
                                return d.name;
                            });
                    })
                    .start();
            }

        }

        {#network Cloud end here#}


        $(function () {
            var dds_network = new DDSNetwork();

            dds_network.render_network({{ group|safe }}, {{ source|safe }})
            var dds_cloud = new DDSCloud();

            dds_cloud.render_cloud({{ group|safe }}, '#wordCloud');

        });


  {#Table start here#}

        function CreateTableFromJSON() {
            var tableJsonData =
            {{ group|safe }}

            // EXTRACT VALUE FOR HTML HEADER.
            var col = [];
            for (var i = 0; i < tableJsonData.length; i++) {
                for (var key in tableJsonData[i]) {
                    if (key != "group") {
                        if (col.indexOf(key) === -1) {
                            col.push(key);
                        }
                    }
                }
            }
            col = col.sort()
            // CREATE DYNAMIC TABLE.
            var table_1 = document.createElement("table");
            table_1.className += "table table-bordered table-condensed table-striped table-hover single";
            var table_2 = document.createElement("table");
            table_2.className += "table table-bordered table-condensed table-striped table-hover single";
            var table_3 = document.createElement("table");
            table_3.className += "table table-bordered table-condensed table-striped table-hover single";

            // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

            var tr_1 = table_1.insertRow(-1);                   // TABLE ROW.
            var tr_2 = table_2.insertRow(-1);
            var tr_3 = table_3.insertRow(-1);
            for (var i = 0; i < col.length; i++) {
                if (col[i] == "name") {

                    var th_1 = document.createElement("th");      // TABLE HEADER.
                    th_1.innerHTML = "<span style='color: #1e90ff;'> █</span>" + col[i];
                    tr_1.appendChild(th_1);


                    var th_2 = document.createElement("th");      // TABLE HEADER.
                    th_2.innerHTML = "<span style='color: #f08080;'> █</span>" + col[i];
                    tr_2.appendChild(th_2);


                    var th_3 = document.createElement("th");      // TABLE HEADER.
                    th_3.innerHTML = "<span style='color: #00ff7f;'> █</span>" + col[i];
                    tr_3.appendChild(th_3);
                }
                else {
                    var th_1 = document.createElement("th");      // TABLE HEADER.
                    th_1.innerHTML = col[i];
                    tr_1.appendChild(th_1);

                    var th_2 = document.createElement("th");      // TABLE HEADER.
                    th_2.innerHTML = col[i];
                    tr_2.appendChild(th_2);

                    var th_3 = document.createElement("th");      // TABLE HEADER.
                    th_3.innerHTML = col[i];
                    tr_3.appendChild(th_3);

                }

            }

            // ADD JSON DATA TO THE TABLE AS ROWS.
            for (var i = 0; i < tableJsonData.length; i++) {
                tr_1 = table_1.insertRow(-1);
                tr_1.id = i
                tr_1.onclick = function () {
                    return ModalFromJSON(this.id);
                }


                tr_2 = table_2.insertRow(-1);
                tr_2.id = i
                tr_2.onclick = function () {
                    return ModalFromJSON(this.id);
                }


                tr_3 = table_3.insertRow(-1);
                tr_3.id = i
                tr_3.onclick = function () {
                    return ModalFromJSON(this.id);
                }


                for (var j = 0; j < col.length; j++) {
                    if (tableJsonData[i]["group"] == 1) {
                        var tabCell = tr_1.insertCell(-1);
                        if (tableJsonData[i][col[j]] == tableJsonData[i]["name"]) {
                            tabCell.innerHTML = tableJsonData[i][col[j]];

                        }
                        else {
                            tabCell.innerHTML = parseFloat(tableJsonData[i][col[j]]).toFixed(2);
                            if (tableJsonData[i][col[j]] == tableJsonData[i]["value"]) {
                                tabCell.className += "freq";
                            }
                            if (tableJsonData[i][col[j]] == tableJsonData[i]["size"]) {
                                tabCell.className += "tf-idf";
                            }

                        }


                    }
                    if (tableJsonData[i]["group"] == 2) {
                        var tabCell = tr_2.insertCell(-1);
                        if (tableJsonData[i][col[j]] == tableJsonData[i]["name"]) {
                            tabCell.innerHTML = tableJsonData[i][col[j]];
                        }
                        else {
                            tabCell.innerHTML = parseFloat(tableJsonData[i][col[j]]).toFixed(2);
                            if (tableJsonData[i][col[j]] == tableJsonData[i]["value"]) {
                                tabCell.className += "freq";
                            }
                            if (tableJsonData[i][col[j]] == tableJsonData[i]["size"]) {
                                tabCell.className += "tf-idf";
                            }
                        }
                    }
                    if (tableJsonData[i]["group"] == 3) {
                        var tabCell = tr_3.insertCell(-1);
                        if (tableJsonData[i][col[j]] == tableJsonData[i]["name"]) {
                            tabCell.innerHTML = tableJsonData[i][col[j]];
                        }
                        else {
                            tabCell.innerHTML = parseFloat(tableJsonData[i][col[j]]).toFixed(2);
                            if (tableJsonData[i][col[j]] == tableJsonData[i]["value"]) {
                                tabCell.className += "freq";
                            }
                            if (tableJsonData[i][col[j]] == tableJsonData[i]["size"]) {
                                tabCell.className += "tf-idf";
                            }
                        }
                    }

                }


            }

            // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
            var divContainer = document.getElementById("table-1");
            divContainer.innerHTML = "";
            divContainer.appendChild(table_1);
            var divContainer = document.getElementById("table-2");
            divContainer.innerHTML = "";
            divContainer.appendChild(table_2);
            var divContainer = document.getElementById("table-3");
            divContainer.innerHTML = "";
            divContainer.appendChild(table_3);
            $('#table-1 td.freq').graphup({
                colorMap: [[30, 144, 255]],
                painter: 'bars'
            });
            $('#table-2 td.freq').graphup({
                colorMap: [[240, 128, 128]],
                painter: 'bars'
            });
            $('#table-3 td.freq').graphup({
                colorMap: [[0, 255, 127]],
                painter: 'bars'
            });
        }

 {#Table end here#}

 {#Pop up Modal start here#}

        function ModalFromJSON(rowid) {
            var group = {{ group|safe }};
            var source = {{ source|safe }};

            var targetWord = document.getElementById("myModalLabel")
            targetWord.innerHTML = "Target word :  " + group[rowid]["name"]

            var col = [];
            for (var i = 0; i < group.length; i++) {
                for (var key in group[i]) {

                    if (col.indexOf(key) === -1) {
                        col.push(key);
                    }

                }
            }

            col = col.sort()

            // CREATE DYNAMIC TABLE.
            var table = document.createElement("table");
            table.id = "modaltable";
            table.className += "table table-bordered table-condensed table-striped table-hover single";
            // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

            var tr = table.insertRow(-1);                   // TABLE ROW.

            for (var i = 0; i < col.length; i++) {
                var th = document.createElement("th");      // TABLE HEADER.
                th.innerHTML = col[i];
                tr.appendChild(th);
            }

            // ADD JSON DATA TO THE TABLE AS ROWS.

            $.each(source, function (index, value) {
                if (value["source"] == rowid) {

                    var target = value["target"]
                    tr = table.insertRow(-1);
                    for (var j = 0; j < col.length; j++) {
                        var tabCell = tr.insertCell(-1);
                        if (group[target][col[j]] == group[target]["name"] || group[target][col[j]] == group[target]["group"]) {
                            tabCell.innerHTML = group[target][col[j]];
                        }
                        else {
                            tabCell.innerHTML = parseFloat(group[target][col[j]]).toFixed(2);
                            if (group[target][col[j]] == group[target]["value"]) {
                                tabCell.className += "freq";
                            }
                            if (group[target][col[j]] == group[target]["size"]) {
                                tabCell.className += "tf-idf";
                            }
                        }
                    }

                }

                if (value["target"] == rowid) {

                    var source = value["source"]
                    tr = table.insertRow(-1);
                    for (var j = 0; j < col.length; j++) {

                        var tabCell = tr.insertCell(-1);
                        if (group[source][col[j]] == group[source]["name"] || group[source][col[j]] == group[source]["group"]) {
                            tabCell.innerHTML = group[source][col[j]];
                        }
                        else {
                            tabCell.innerHTML = parseFloat(group[source][col[j]]).toFixed(2);
                            if (group[source][col[j]] == group[source]["value"]) {
                                tabCell.className += "freq";
                            }
                            if (group[source][col[j]] == group[source]["size"]) {
                                tabCell.className += "tf-idf";
                            }
                        }
                    }
                }

            });


            // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
            var divContainer = document.getElementById("modelTableDiv");
            divContainer.innerHTML = "";
            divContainer.appendChild(table);
// paint Graph
            $('#modaltable td.freq').graphup({
                colorMap: [[30, 144, 255]],
                painter: 'bars'
            });
//Modal Network


           var new_group = [];
           var new_source = [];
           var old_target_group=[]

            $.each({{ source|safe }}, function (index, value) {
                if (value["source"] == rowid || value["target"] == rowid) {

                    new_source = new_source.concat(value);
                    old_target_group.push(value["target"]);
                    old_target_group.push(value["source"]);
                }
            });

            console.log("old_target_group", old_target_group);
           var uniqueNames = [];
            $.each(old_target_group, function(i, el){
                if($.inArray(el, uniqueNames) === -1) uniqueNames.push(el);
            });
           console.log("uniqueNames", uniqueNames);

           var group_For_Modal={{ group|safe }};

          $.each(group_For_Modal, function (index, value) {
                 if($.inArray(index, uniqueNames) === -1){
                     value["name"]=null;
                     value["group"]=null;
                     value["value"]=null;
                     value["size"]=null;

                 }
           });







            var modal_network = new ModalNetwork();
            modal_network.render_network(group_For_Modal, new_source)

{#            modal_network.render_network({{ group|safe }}, {{ source|safe }})#}

            $('#myModal').modal('show');


        }

 {#Pop up Modal end here#}


  {#Modal network for each row start here#}

    function ModalNetwork() {
    $("#wordNetwork2").empty();
	var _this = this;

	this.w = $(window).width();
	this.h = $(window).height();

	this.color    = ['#1e90ff', '#f08080', '#00ff7f'];

	this.render_network = function(nodes, links) {

		//for set 1
		var viewport_width = jQuery(".network1").width(); //screen.width;
{#		console.log("viewport_width", viewport_width);#}
		var size = {"width": viewport_width, "height": 300};

		var force = d3.layout.force()
		.charge(-180)
		.linkDistance(200)
		.nodes(nodes)
		.links(links)
		.size([size['width'],size['height']])
		.start();

		var svg = d3.select('#wordNetwork2').append("svg")
		.attr("width", size['width'])
		.attr("height", size['height']);


		var link = svg.selectAll(".link")
		.data(links)
		.enter().append("line")
		.attr("class", "link")
		.style("stroke-width", function(d) {
			if(Math.sqrt(d.weight) < 8) {
				return Math.sqrt(d.weight);
			} else {
				return 8;
			}
		})
		.style("stroke","#696969")
		.style("stroke-opacity",.2);

		var node = svg.selectAll(".node")
		.data(nodes)
		.enter().append("circle")
		.attr("class","node")
		.attr("r", function(d) {
			return 5 + parseFloat(d.value);
		})
		.style("fill", function(d) { return _this.color[d.group - 1]; })
		.style("stroke","#fff")
		.style("stroke-width",1.5)
		.on("mouseover", function(d) {
			link.style("stroke-opacity", function(o) {
				return o.source === d || o.target === d ? 1 : .2;
			});
		})
		.call(force.drag);

		var txt = svg.selectAll(".txt")
		.data(nodes)
		.enter().append("text")
		.attr("class","txt")
		.attr("text-anchor","middle")
		.style("font-size","11pt")
		.text(function(d){ return d.name; })
		.call(force.drag);






		force.on('tick',function(){
			link.attr("x1", function(d) { return d.source.x; })
			.attr("y1", function(d) { return d.source.y; })
			.attr("x2", function(d) { return d.target.x; })
			.attr("y2", function(d) { return d.target.y; });

			node.attr("cx", function(d) { return d.x; })
			.attr("cy", function(d) { return d.y; });
			txt.attr("x", function(d){ return d.x; })
			.attr("y", function(d){ return d.y; });
		});
	}

}

   {#Modal network for each row end here#}

    </script>

{% endblock content %}