{% extends "base.html" %}
{% load static %}
{% block title %}Registration{% endblock title %}



{% block content %}

    <p style="height: 50px">&nbsp;</p>
        <div class="text-input row" style="background-color:white;">
            <div class="col-md-offset-3 col-sm-offset-2 col-md-6 col-sm-8">
                <h1 class="text-center"style="color:black;">CodeNext</h1>
                <h3 class="text-center"style="color:black;">Sentence Text Analysis</h3>
                <p class="text-center"style="color:black;">解析したい文章を以下のフォームに入力してください。</p>

                <form class="contact-us pattern-bg"action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <hr>
                    <div class="col-sm-12">
                        <div class="textarea-message form-group text-upload">
                            <textarea id="textMessage" name="textMessage" class="textarea-message form-control" rows="5"></textarea>
                        </div>
                    </div>

                      <div class="text-center">
                          <input required="" type="file" id="exampleInputFile" name="json"class="btn btn-upload">

                    </div><br>
                    <div class="text-center">
{#                        <a href="./sentence-execute.php" class="btn btn-execute"><strong>Execute</strong></a>#}
                        <button type="submit" class="btn btn-success">Execute</button>
                    </div>
                </form>
            </div><br>
        </div><br>


{% endblock content %}